/* ====================================================================================================== */
/* IMPORTS
/* ====================================================================================================== */
// gems
@import "ceaser-easing"

// compass
@import "compass/css3/"
@import "compass/typography/"
@import "compass/utilities/"

// vendors
@import "vendor/grid"
@import "vendor/media-queries"
/* ====================================================================================================== */
/* MIXINS
/* ====================================================================================================== */
@mixin rect($width, $height)
  width: $width
  height: $height

@mixin customcheck($width, $height, $path, $hover_row, $hover_col)
  position: relative
  width: $width
  height: $height

  input
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    z-index: 100
    cursor: pointer
    opacity: 0

  label
    position: relative
    display: block
    background-repeat: no-repeat
    background-position: top left
    background-image: image-url($path)
    width: 100%
    height: 100%

  input:checked ~ label
    +sprite-position($hover_row, $hover_col, $width, $height)

@mixin typo($font, $size, $color, $weight: normal, $style: normal)
  font: $size $weight $style
  font-family: $font
  color: $color

@mixin arrowright($color: #FFF, $size: 15px, $sharpness: 25px)
  left: 100%
  top: 50%
  border: solid transparent
  content: " "
  height: 0
  width: 0
  position: absolute
  pointer-events: none
  border-left-color: $color
  border-width: $size
  border-left-width: $sharpness // calc: (width*2)*.866
  margin-top: -$size

@mixin arrowleft($color: #FFF, $size: 15px, $sharpness: 25px)
  right: 100%
  top: 50%
  border: solid transparent
  content: " "
  height: 0
  width: 0
  position: absolute
  pointer-events: none
  border-right-color: $color
  border-width: $size
  border-right-width: $sharpness // calc: (width*2)*.866
  margin-top: -$size

@mixin arrowtop($color: #FFF, $size: 15px, $sharpness: 25px)
  left: 58%
  bottom: 100%
  border: solid transparent
  content: " "
  height: 0
  width: 0
  position: absolute
  pointer-events: none
  border-bottom-color: $color
  border-width: $size
  border-bottom-width: $sharpness // calc: (width*2)*.866
  margin-left: -$size

@mixin fontsmoothing()
  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  -ms-font-smoothing: antialiased
  font-smoothing: antialiased

@mixin unselectable()
  -webkit-touch-callout: none
  -moz-user-select: -moz-none
  -khtml-user-select: none
  -webkit-user-select: none
  -o-user-select: none
  user-select: none

%overlay
  width: 100%
  height: 100%
  z-index: 1000
  position: fixed
  background-color: rgba(0, 0, 0, 0.8)
  +ceaser-transition(all, 1s, $easeOutExpo)

  &.out
    background-color: rgba(0, 0, 0, 0)

%no-flick
  +translate3d(0, 0, 0)

%pr
  position: absolute
  top: 0
  right: 0

%pl
  position: absolute
  top: 0
  left: 0

