/* ====================================================================================================== */
/* IMPORTS
/* ====================================================================================================== */
// gems
@import "h5bp"

// compass
@import "compass/css3/"
@import "compass/typography/"
@import "compass/utilities/"

// vendors
@import "vendor/grid"
@import "vendor/media-queries"

// lib
@import "lib/var"
@import "lib/mixin"

/* ====================================================================================================== */
/* NORMALIZE
/* ====================================================================================================== */
+h5bp-normalize
+h5bp-helpers

// fonts
+font-face("lr", font-files("lato-regular.woff", "lato-regular.ttf", "lato-regular.otf", "lato-regular.svg"), "lato-regular.eot")
+font-face("ll", font-files("lato-light.woff", "lato-light.ttf", "lato-light.otf", "lato-light.svg"), "lato-light.eot")
+font-face("lb", font-files("lato-bold.woff", "lato-bold.ttf", "lato-bold.otf", "lato-bold.svg"), "lato-bold.eot")
+font-face("li", font-files("lato-italic.woff", "lato-italic.ttf", "lato-italic.otf", "lato-italic.svg"), "lato-italic.eot")

/* ====================================================================================================== */
/* BASE
/* ====================================================================================================== */
*:active, *:hover, *:focus
  outline: 0 !important


menu, ul, ol, dl
  margin: 0
  padding: 0

body
  background-color: #FFF

body, html
  +rect(100%, 100%)

#map_canvas a img
  display: none

ul
  list-style-type: none

h2
  +typo($latolight, 18px, $gray_nickel)
  border-bottom: 1px solid $gray_nickel
  padding: 5px 5px 5px 0
  margin: 20px 0

textarea, input[type="text"], input[type="search"]
  -webkit-appearance: none
  outline: none
  border: none
  padding: 8px 15px
  margin: 0 0 20px 0
  +inline-block
  +border-radius(5px)
  +box-shadow(0 0 5px 0 rgba(0, 0, 0, 0.4) inset)
  +ceaser-transition(all, 400ms, $easeOutExpo)
  +typo($latoregular, 15px, $pickled_bluewood)

  &:focus
    +box-shadow(0 0 0 2px $mountain_meadow_border inset)

