/* ====================================================================================================== */
/* IMPORTS
/* ====================================================================================================== */
// gems
@import "ceaser-easing"

// compass
@import "compass/css3/"
@import "compass/typography/"
@import "compass/utilities/"

// vendors
@import "vendor/grid"
@import "vendor/media-queries"

// lib
@import "lib/var"
@import "lib/mixin"

/* ====================================================================================================== */
/* LAYOUT
/* ====================================================================================================== */
.map
  position: absolute
  +rect(100%, 100%)

  #map_canvas
    +rect(100%, 100%)

h1.logo
  +replace-text(image-url("logo/Wijs.png"), 0, 0)
  +rect(180px, 76px)
  margin: 25px auto 15px

.pl
  @extend %pl

.tab
  background-color: #FFF
  left: 320px
  top: 10px
  +rect(53px, 53px)
  +box-shadow(5px 0 10px 0px  rgba(0, 0, 0, 0.25), 5px 0 5px -5px rgba(0, 0, 0, 0.35) inset)
  +ceaser-transition(all, 700ms, $easeOutExpo)

  a
    +rect(100%, 100%)
    +inline-block
    +ceaser-transition(all, 700ms, $easeOutExpo, 300ms)

    &.close
      +background(image-url("sprite/tab.png") 0 0 no-repeat)

    &.search
      +background(image-url("sprite/tab.png") -53px 0 no-repeat)
      left: 0

.search-locaction
  position: absolute
  overflow: scroll
  background-color: #FFF
  padding: 0 20px
  left: 0
  +rect(320px, 100%)
  +box-sizing(border-box)
  +box-shadow(5px 0 30px 10px  rgba(0, 0, 0, 0.35))
  +ceaser-transition(all, 700ms, $easeOutExpo)

  &.close
    left: -320px

  .btn
    margin: 20px 0 0

.search-results
  ul
    li
      margin: 6px 0

      a
        text-decoration: none
        +typo($latoregular, 16px, $pickled_bluewood)
        +ceaser-transition(all, $marker_anim_time, $easeOutExpo)

        i.marker
          +rect(18px, 25px)
          +background(image-url("sprite/marker-large.png") center center no-repeat)
          +background-size("contain")
          +inline-block
          padding: 0 5px 0 10px
          +ceaser-transition(all, $marker_anim_time, $easeOutExpo)

        &:hover
          color: lighten($pickled_bluewood, 20%)
          .marker
            +apply-origin(bottom center, false)
            +scale(1.2)
