/* ====================================================================================================== */
/* IMPORTS
/* ====================================================================================================== */
// gems
@import "ceaser-easing"

// compass
@import "compass/css3/"
@import "compass/typography/"
@import "compass/utilities/"

// vendors
@import "vendor/grid"
@import "vendor/media-queries"

// lib
@import "lib/var"
@import "lib/mixin"
/* ====================================================================================================== */
/* MODULE
/* ====================================================================================================== */

.search-input
  width: 100%
  position: relative

  input
    width: 100%
    +box-sizing(border-box)

  img
    position: absolute
    right: 10px
    top: 10px

.check
  margin: 0 10px 10px 10px

  .checkbox
    +customcheck(20px, 20px, "sprite/checks.png", 2, 1)
    +inline-block

  > label
    +inline-block
    +typo($latoregular, 15px, $pickled_bluewood)
    padding: 0 0 0 5px
    cursor: pointer
    +unselectable

.btn
  position: relative
  top: 0
  padding: 10px 0
  +box-sizing(border-box)
  +rect(100%, 45px)
  text-align: center
  background-color: grey
  text-decoration: none
  +inline-block
  +typo($latobold, 17px, #FFF)
  +border-radius(5px)
  +box-shadow(0 -4px 0 0 rgba(0, 0, 0, 0.3) inset)
  +ceaser-transition(all, 400ms, $easeOutExpo)

  &:hover
    top: 1px
    +opacity(.9)
    padding: 12px 0
    +rect(100%, 45px)
    +box-shadow(0 -0 0 0 rgba(0, 0, 0, 0.3) inset)

  &.btn-blue
    background-color: $curious_blue

  &.is-disabled
    +opacity(.4)
    cursor: default

    &:hover
      top: 0
      +opacity(.4)
      padding: 10px 0
      +box-shadow(0 -4px 0 0 rgba(0, 0, 0, 0.3) inset)

.infowindow
  h2
    margin: 0

  h3
    margin: 10px 0
    +typo($latoregular, 16px, $pickled_bluewood)

  ul
    li
      +typo($latoregular, 12px, $pickled_bluewood)

