<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wijs mission - Robbie Bardijn</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if mode == "dev" %}
      <link rel="stylesheet" href="assets/css/base.css">
      <link rel="stylesheet" href="assets/css/layout.css">
      <link rel="stylesheet" href="assets/css/module.css">
      <link rel="stylesheet" href="assets/css/state.css">
      <link rel="stylesheet" href="assets/css/print.css">
    {% else %}
      <link rel="stylesheet" href="assets/css/style.css">
    {% endif %}

    {# JS TEMPLATES #}
    <script type="text/template" class="template" id="info_window">
      <div class="infowindow">
        <h2><%- street %></h2>
        <h3><%- city %></h3>
        <ul>
          <li>
            Is open in weekends: <strong><%- open_in_weekends %></strong>
            </li>
          <li>
            Has support desk: <strong><%- support_desk %></strong>
          </li>
        </ul>
      </div>
    </script>

    <script type="text/template" class="template" id="aside_marker">
      <li>
        <a href="#" data-id="<%- id %>"title="<%- street %> ( <%- city %> ) ">
          <i class="marker"></i><%- street %>
        </a>
      </li>
    </script>

    {# FEATURE DETECTION #}
    <script src="assets/js/vendor/modernizr.min.js"></script>

  </head>
  <body data-page="index">

    <div class="map">
      <div id="map_canvas">
        <!-- map gets introduced here -->
      </div>
    </div>

    <aside class="search-locaction">

      <h1 class="logo">Wijs.</h1>

      <div class="search-form">
        <h2>Show offices in the area of:</h2>
        <form action="offices/search" id="search-location" method="POST">

          <div class="wrapper search-input">
            <input type="search" id="search" name="search" value="" placeholder="Enter Location...">
            <img src="/assets/img/sprite/search-form.png" alt="search" class="icon-pl">
          </div>

          <div class="wrapper check">
            <div class="checkbox">
              <input type="checkbox" id="weekend" name="weekend" value="1">
              <label></label>
            </div>
            <label for="weekend" class="checkboxlabel">
              Open in weekends
            </label>
          </div>

          <div class="wrapper check">
            <div class="checkbox">
              <input type="checkbox" id="support" name="support" value="1">
              <label></label>
            </div>
            <label for="support" class="checkboxlabel">
              With support desk
            </label>
          </div>

          <a href="#" class="btn btn-blue is-disabled" id="submit-search">Search</a>
        </form>
      </div>

      <div class="search-results">
        <h2>Results</h2>
        <ul>
          <!-- offices get introduced here -->
        </ul>
      </div>
    </aside>

    <div class="tab pl">
      <a href="#" class="close" id="open-close"></a>
    </div>

    {% if mode == "dev" %}
      <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
      <script src="assets/js/vendor/jquery.js"></script>
      <script src="assets/js/vendor/underscore.js"></script>
      <script src="assets/js/vendor/backbone.js"></script>
      <script src="assets/js/base.js"></script>
    {% else %}
      <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
      <script src="assets/js/main.min.js"></script>
    {% endif %}

    <!-- Google Analytics -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
  </body>
</html>
